<html>
    <head>
        <title>Sisk Quickstart</title>
        <link rel="stylesheet" href="/Assets/Styles.css" />
    </head>
    <body>
        <main>
            {{> view.message}}
        </main>
    </body>
</html> 