h1, p { text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif }
a { color: slateblue; }
body { background-color: #f2f5fa; color: #333; text-shadow: 0 1px 0 #fff; }